<section class="carousel__container">
  <h2>Novedades</h2>

  <p-carousel
    [value]="products()"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [indicatorsContentStyle]="{ display: 'none' }"
  >
    <ng-template let-product pTemplate="item">
      <div
        class="border-1 surface-border border-round m-2 text-center py-5 px-3"
      >
        <div class="mb-3 car__image">
          <!-- <img
            [src]="product.image"
            [alt]="product.name"
            class="w-6 shadow-2"
          /> -->
        </div>
        <div>
          <h3>{{ product.name }}</h3>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>
