<footer>
  <div class="container">
    <div>
      <h4>CONTACTO</h4>
      <div class="icon">
        <div>
          <img src="./../../../assets/images/Instagram.png" alt="">
        </div>
        <div>
          <img src="./../../../assets/images/WhatsApp.png" alt="">
        </div>
      </div>
      <p>Numero de telefono</p>
      <p>E-mail</p>
    </div>
    <div class="container-div">
      <h4>AYUDA</h4>
      <div class="anchor">
        <a href="#">Envios</a>
        <a href="#">Preguntas frecuentes</a>
        <a href="#">Devoluciones</a>
      </div>
    </div>
    <div class="container-div">
      <h4 class="title">NOSOTROS</h4>
      <div class="anchor">
        <a href="#">Envios</a>
        <a href="#">Preguntas frecuentes</a>
      </div>
    </div>
    <div class="container-div">
      <h4 class="title">LEGALES</h4>
      <div class="anchor">
        <a href="#">Envios</a>
        <a href="#">Preguntas frecuentes</a>
      </div>
    </div>
    <div>
      <br>
      <span class="p-input-icon-right">
        <i class="pi pi-envelope"></i>
        <input type="text" pInputText placeholder="Newsletter" />
      </span>
    </div>
  </div>
</footer>
