@import "src/styles.scss";

.services__content {
  width: 95%;
  max-width: $max-width;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  // mix-blend-mode: multiply;

  .services__card {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 2rem;
    text-align: center;
    color: $background-variant;

    .card__icon {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: $our-service-shadow;
      background-color: $background-white;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        object-fit: contain;
      }
    }

    p {
      color: $text-color-disabled;
    }
  }
}
