@import "src/styles.scss";

.img-contenedor {
  width: auto;
  height: 200px;
  text-align: center;

}
.argentina{
width: 100%;
height:100%;
}

.img2-contenedor{
  margin-top:40px;
  margin-bottom: 40px;
  width: auto;
  height: 350px;
  text-align: center;
}
.arg-producto{
  border-radius: 20px;
  height:100%;
  width: 80%;
}
