<section class="detalle-producto" *ngIf="product">
  <p-messages
    [(value)]="messages"
    [enableService]="false"
    [closable]="true"
  ></p-messages>
  <div class="breadcrumbs">
    <h4>INICIO > ALMACÉN > PRODUCTO</h4>
  </div>

  <div class="descripcion-producto">
    <div class="titulo-heart-movile mb-6">
      <h2>{{ product.name }}</h2>
    </div>
    <div class="imagen-producto">
      <div class="imagen-grande-producto">
        <img
          class="foto-producto"
          [src]="product.image"
          alt="imagen producto"
        />
      </div>
    </div>
    <div class="texto-producto">
      <div class="titulo-heart">
        <h2>{{ product.name }}</h2>
        <i class="pi pi-heart"></i>
      </div>

      <h2>
        <b>€ {{ product.price }}</b>
      </h2>

      <p class="description">{{ product.description }}</p>
      <div class="botones">
        <div class="button__container">
          <app-input-cart
            [changeClass]="false"
            [changeWidth]="'224px'"
            [width]="'66px'"
            [product]="product"
            (addCart)="showQuantityProduc($event)"
            (sendQuantity)="getQuantity($event)"
          ></app-input-cart>
        </div>
        <div class="botonesCompra">
          <span class="stock chip">{{ product.stock | stock }}</span>
          <button
            class="button custom__button--line"
            (click)="payment()"
            routerLink="/payment"
          >
            Finalizar compra
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
