<section class="detalle-producto">
  <div>
    <h4>INICIO > ALMACÉN > PRODUCTO</h4>
  </div>

  <div class="descripcion-producto">
    <div class="imagen-producto">
      <div class="imagen-chica-producto">
        <img
          class="foto-chica-producto"
          src="https://images.pexels.com/photos/3680219/pexels-photo-3680219.jpeg?auto=compress&cs=tinysrgb&w=140"
          alt=""
        />

        <img
          class="foto-chica-producto"
          src="https://images.pexels.com/photos/3680219/pexels-photo-3680219.jpeg?auto=compress&cs=tinysrgb&w=140"
          alt=""
        />

        <img
          class="foto-chica-producto"
          src="https://images.pexels.com/photos/3680219/pexels-photo-3680219.jpeg?auto=compress&cs=tinysrgb&w=140"
          alt=""
        />
      </div>

      <div class="imagen-grande-producto">
        <img
          class="foto-producto"
          src="https://images.pexels.com/photos/3680219/pexels-photo-3680219.jpeg?auto=compress&cs=tinysrgb&w=400"
          alt=""
          [style]="'view-transition-name:' + 1"
        />
      </div>
    </div>
    <div class="texto-producto">
      <div class="titulo-heart">
        <h2>Titulo del producto</h2>
        <i class="pi pi-heart"></i>
      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quo
        tenetur corrupti consequuntur animi, aspernatur consequatur officia
        eaque? Distinctio exercitationem quia eaque sit! Dignissimos ab,
        voluptate nesciunt exercitationem rerum sint!
      </p>
      <h2><b>€ 10,95</b></h2>
      <span class="stock">EN STOCK</span>
      <!-- <div class="class-add">
        <div class="add-input">
          <input type="text" />
          <div class="select-down">
            <button type="button" class="down">
              <img src="../../../assets/mas.png" alt="" class="icon" />
            </button>
            <button type="button" class="down">
              <img src="../../../assets/menos.png" alt="" class="icon" />
            </button>
          </div>
        </div>
        <button type="button" class="btn">Añadir al carrito</button>
      </div> -->
      <app-input-cart></app-input-cart>
    </div>
  </div>
</section>
