<section class="details__container">
  <div class="contenedor1">
    <p class="titulo">Confirmar Compra</p>
    <div class="carrito">
      <div class="cart">
        <p class="titulo-pedido">Tu pedido</p>
        <app-cart
          [changeButton]="false"
          [showBorder]="true"
          [showCross]="false"
          [isHidden]="false"
          [details]="false"
          [disableShadow]="true"
        ></app-cart>
      </div>

      <div class="menu-detalle">
        <div class="item">
          <div class="titulo-detalle"><p>Detalle del pedido</p></div>
          <div class="items">
            <p class="items-negrita">Numero de pedido:</p>
            <span>5655864614</span>
          </div>
          <div class="items">
            <p class="items-negrita">Peso Total:</p>
            <span>{{ totalProductWeight }}gr</span>
          </div>
          <div class="items">
            <p class="items-negrita">IVA:</p>
            <span id="porcentaje">(+19%)</span>
          </div>
          <div class="items">
            <p class="items-negrita">Fecha de pedido:</p>
            <span>{{ date | date }}</span>
          </div>
        </div>
        <div class="item2">
          <div class="items">
            <p class="items-negrita2">Subtotal</p>
            <span
              ><b>{{ totalPriceProduct | currency : "€" }}</b></span
            >
          </div>
          <div class="items">
            <p class="items-negrita2">Envio</p>
            <span><b>€7.95</b></span>
          </div>
          <div class="items">
            <p class="items-negrita2">Total</p>
            <span
              ><b>{{
                totalPriceProduct * 1.19 + 7.95 | currency : "€"
              }}</b></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contenedor2">
    <div class="barra">
      <div class="titulo-barra"><p>Datos personales</p></div>
      <div class="seleccionado">
        <div class="description">
          <div>
            <img
              class="imagen"
              src="../../../../assets/images/Union.png"
              alt="foto"
            />
          </div>

          <div>
            <p style="text-align: start">
              <b>{{ userData.name + userData.lastName }}</b>
            </p>
            <p style="text-align: start">{{ userData.email }}</p>
          </div>
        </div>
        <div class="numero">
          <p class="num">{{ userData.phonesList | numberPhone }}</p>
        </div>
      </div>
    </div>

    <div class="barra">
      <div class="titulo-barra"><p>Direccion de entrega</p></div>
      <div class="seleccionado2">
        <div class="description">
          <div class="div-img">
            <img
              class="imagen"
              src="../../../../assets/images/Union.jpg"
              alt="foto"
            />
          </div>
          <div>
            <p style="text-align: start">
              <b>{{ userData.shippingDetailsList[0].country }}</b>
            </p>
            <p style="text-align: start">
              {{ userData.shippingDetailsList[0].address1 }}
            </p>
            <p style="text-align: start">
              {{ userData.shippingDetailsList[0].city }}
            </p>
          </div>
          <div>
            <p style="text-align: start">
              {{ userData.shippingDetailsList[0].city }}
            </p>
            <p style="text-align: start">
              {{ userData.phonesList | numberPhone }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="barra">
      <div class="titulo-barra">
        <p>Metodo de envio elegido</p>
        <span>Impuestos inluidos</span>
      </div>
      <div class="seleccionado-envio">
        <div class="imagen-envio">
          <img class="imagen" [src]="imagePath" alt="foto" />
        </div>
        <div class="empresa-envio">
          <p>{{ shippingMethod | uppercase }}</p>
        </div>
        <div class="responsive">
          <div class="demora">
            <p>Entrega en 48 a 72 hs</p>
          </div>
          <div class="costo-envio">
            <p class="valor">€7.95</p>
          </div>
        </div>
      </div>
    </div>

    <div class="barra">
      <div class="titulo-barra"><p>Pago elegido</p></div>
      <div class="seleccionado-pago">
        <p>Pago con Tarjeta (Crédito/Débito)</p>
        <img src="../../../assets/images/visa.svg" alt="" width="100" />
        <img src="../../../assets/images/mastercard.svg" alt="" width="100" />
        <img src="../../../assets/images/american.svg" alt="" width="100" />
      </div>

      <form
        class="form__container"
        [formGroup]="paymentForm"
        (ngSubmit)="sendPay()"
      >
        <div class="form__content">
          <div class="number__card">
            <label for="">Número de la tarjeta</label>
            <input
              type="text"
              placeholder="0000 0000 0000 0000"
              formControlName="cardNumber"
            />
          </div>

          <div class="form__control--container">
            <div class="form__control">
              <label for="">Fecha de vencimiento</label>
              <input
                type="text"
                placeholder="MM/AA"
                formControlName="expirationDate"
              />
            </div>
            <div class="form__control">
              <label for="">Código de verificación</label>
              <input type="text" placeholder="000" formControlName="cardCode" />
            </div>
          </div>
        </div>

        <div class="seleccionado2-button">
          <div class="description-button">
            <div class="privacidad">
              <p>
                Los datos personales se utilizaran para procesar tu pedido,
                mejorar tu experiencia en esta web y otros propósitos descriptos
                en nuestra política de privacidad.
              </p>
            </div>
            <div class="condiciones">
              <input type="checkbox" formArrayName="check" /> He leído y estoy
              de acuerdo con los términos y condiciones de la web.
            </div>
          </div>
          <div class="div-button">
            <button class="button custom__button--fill">
              <p>Confirmar pago</p>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<p-dialog
  header="Pago confirmado"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p class="m-0">Se aprobó su pago con éxito!</p>
</p-dialog>
