<div class="contenedora">
  <p class="titulo-detalle">Detalle del carrito</p>

  <div class="carrito">
    <div class="cart__container">
      <app-cart
        [changeButton]="false"
        [showBorder]="true"
        [showCross]="false"
        [isHidden]="false"
        [disableShadow]="true"
      ></app-cart>
    </div>
    <hr class="vertical" />
    <div class="menu-detalle">
      <div class="item">
        <div class="items">
          <p>{{ totalProductToCart | quantity }}</p>
          <span>{{ totalPriceProduct | currency : "€" }}</span>
        </div>
        <div class="items">
          <p>Costo de envío (aproximado)</p>
          <span>€7.95</span>
        </div>
        <div class="items">
          <p>Impuesto aplicado IVA<span id="porcentaje">(+19%)</span></p>
          <span> {{ totalPriceProduct * 0.19 | currency : "€" }}</span>
        </div>
        <br />
        <hr />
        <br />
        <div class="items">
          <p class="total">Total:</p>
          <span class="total">{{
            totalPriceProduct * 1.19 + 7.95 | currency : "€"
          }}</span>
        </div>

        <div class="items">
          <p>Peso aproximado</p>
          <span>{{ totalProductWeight }}gr</span>
        </div>
      </div>

      <div class="botone3">
        <button
          class="button custom__button--fill boton3"
          routerLink="../payment"
        >
          Finalizar Compra
        </button>
      </div>
    </div>
  </div>
</div>
