<div class="contenedora">

      <div class="carrito">
        <app-cart [changeButton]="false" [showBorder]="true"></app-cart>
        <div class="menu-detalle">
        <div class="item">
          <div>
          <p>4 Articulos <span>€14 </span> </p>
          <p>Costo de envío (aproximado)</p><span>€7.95</span>
          </div>
          <div>
          <p>Total: <span>€21.95</span></p>
          <p>Peso aproximado<span>1,5 kg</span></p>
          </div>
        </div>

        <div>
          <button class="boton3">Finalizar Compra</button>
        </div>

      </div>
    </div>
  
  </div>
  
