@import "src/styles.scss";
.contenedora{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.cart-logged{
    display: flex;
  
    justify-content: space-between;
    margin: 32px;
    align-items: center;
    
}
.titulo-cart-logged{
  display: flex;
  flex-direction: row;
  margin: 36px 0px;
  
  h2{
    font-size: 26px;
  }
}

.carrito{
    width: 800px;
    margin: 11px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 8px ;
    background-color: white;
}
.item{
  display: flex;
  flex-direction: column;
}

.menu-detalle{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  
}

/*.botone3{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}*/

.boton3{
width: 247px;
height: 40px;
border-radius: 7px;
border: 2px solid black;
background-color: #939393;

}


.items{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 20px;
  font-size: $heading3;
  margin-top: 10px;
 
}
.total{
  font-size: $heading2;
  line-height: 25px;
  font-weight: 500;
}
#porcentaje{
  color: #999999;
}


.vertical{
border-left: 1px solid $background-disabled;
margin: 50px 0;

}

  