<div class="contenedora">

    <h3>Términos y Condiciones - DeLatinos</h3><br><br>
    <p>Bienvenido a DeLatinos. Antes de realizar cualquier compra en nuestro sitio web, te pedimos que leas atentamente
        nuestros Términos y Condiciones. Al utilizar nuestros servicios, aceptas cumplir con los siguientes términos y
        condiciones:</p><br><br>

    <h5>1. Uso del Sitio Web</h5><br>
    <p>1.1. El uso de nuestro sitio web está sujeto a las leyes y regulaciones aplicables. No debes utilizar nuestro
        sitio web con fines ilegales o no autorizados.</p>
    <br>
    <p>1.2. Al hacer uso de nuestro sitio web, aceptas no realizar actividades que puedan dañar, interferir o
        comprometer la seguridad del mismo, incluyendo la introducción de virus o código malicioso.</p>
    <br><br>
    <h5>2. Información Personal</h5><br>
    <p>2.1. Al realizar una compra en DeLatinos, proporcionarás información personal que será tratada de acuerdo con
        nuestra Política de Privacidad. Te recomendamos revisar esta política para entender cómo utilizamos y protegemos
        tus datos personales.</p><br><br>
    <h5>3. Productos y Precios</h5><br>
    <p>3.1. Nos esforzamos por ofrecer descripciones precisas y fotografías fieles a los productos que vendemos. Sin
        embargo, no podemos garantizar que los colores o detalles mostrados en tu pantalla sean exactos.

    <p> 3.2. Los precios de nuestros productos están sujetos a cambios sin previo aviso. Los precios vigentes al momento
        de la compra son los que se aplicarán a tu pedido.</p><br><br>
    <h5>4. Envíos y Entregas</h5><br>
    <p> 4.1. Realizamos envíos a toda Europa. Los tiempos de entrega pueden variar según la ubicación y la
        disponibilidad del producto.</p><br>

    <p>4.2. Los gastos de envío se mostrarán claramente durante el proceso de compra. Los costos adicionales, como
        aranceles o impuestos de importación, correrán por cuenta del comprador.</p><br><br>
    <h5>5. Pagos y Seguridad</h5><br>
    <p> 5.1. Aceptamos diversas formas de pago seguras, incluyendo tarjetas de crédito y débito. Los detalles de pago
        serán protegidos de acuerdo con las medidas de seguridad aplicables.</p><br><br>
    <h5>6. Propiedad Intelectual</h5><br>
    <p>6.1. Todos los contenidos y materiales presentados en nuestro sitio web, incluyendo imágenes, logotipos, textos y
        diseño, están protegidos por derechos de propiedad intelectual y no deben ser utilizados sin nuestro
        consentimiento previo por escrito.
    </p><br><br>
    <h5>7. Cambios en los Términos y Condiciones</h5><br>
    <p>7.1. Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Te recomendamos
        revisar esta página periódicamente para estar informado sobre posibles actualizaciones.</p>

    <p> Al utilizar nuestro sitio web y realizar compras en DeLatinos, aceptas estos Términos y Condiciones. Si tienes
        alguna pregunta o necesitas aclaraciones adicionales, no dudes en ponerte en contacto con nuestro equipo de
        atención al cliente. Gracias por confiar en DeLatinos para tus compras de productos latinoamericanos en Europa.
    </p>

</div>