
<div class="contenedora">
<app-form-address></app-form-address>
<h2 class="mi-cuenta">Mi cuenta</h2>
<div class="historial">
<img src="././assets/images/Journal.png" alt="journal"><span>Historial de compra</span>

<div class="componente-historial">
    <img src="././assets/images/imagen-reemplazo.png" alt="imagen-reemplazo" class="imagen-reemplazo"><span>Lorem ipsum dolor </span>
</div>
</div>
<div>
   
<h2><i class="pi pi-heart-fill"></i> Favoritos</h2>
<app-card *ngFor="let product of data()" [product]="product"></app-card>
</div>
</div>