section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor {
  border-radius: 8px;
  border: 1px solid #8B8B8B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 60px;
  margin: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: column;
}

h1 {
  //styleName: Heading 1 - titulos;
  font-family: Quicksand;
  font-size: 26px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  margin: 0;
  padding: 0 0 30px 0;
  width: auto;
}

label {
  //styleName: Heading 3 - texto y botones;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1b20;
}

span,
a:link {
  //styleName: Heading 5 - detalles menores;
  font-family: Quicksand;
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1b20;
  text-decoration: none;
}

span {
  margin-bottom: 30px;
}

input {
  max-width: 336px;
  height: 40px;
  border-radius: 4px;
  padding: 10px;
  margin: 0;
}

.btn {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    width: 194px;
    height: 40px;
    border-radius: 7px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
  }
}

input.ng-touched.ng-invalid{
  border-color: red;
}

input.ng-dirty.ng-invalid{
  border-color: red;
}

input.error {
  border-color: red;
}
