<section>
  <div class="contenedor">
    <h1>Cambiar contraseña</h1>
    <form
      [formGroup]="form"
      (ngSubmit)="form.valid && password_send()"
      novalidate
    >
      <label>
        Contraseña actual
        <input type="password" placeholder="" [formControl]="contra_actual" />
      </label>
      <span
        ><a href="#">¿Olvidaste la contraseña?</a> Mandar correo de
        recuperación</span
      >
      <label>
        Nueva contraseña
        <input type="password" placeholder="" [formControl]="new_pass" />
      </label>
      <span>Al menos 8 caracteres y combinación de números y letras</span>
      <label>
        Confirmar contraseña
        <input type="password" placeholder="" [formControl]="confir_pass" />
      </label>
      <span>Al menos 8 caracteres y combinación de números y letras</span>
      <div class="btn">
        <button class="button custom__button--fill" type="submit">
          Guardar
        </button>
      </div>
    </form>
  </div>
</section>
