<div class="contenedora">
    <h3>PREGUNTAS FRECUENTES</h3>
    <br />
    <br />
    <br />
    <h5>1. ¿Qué es DeLatinos?</h5>
    <br />
    <p>
        DeLatinos es un eCommerce que ofrece una amplia selección de productos auténticos de Argentina, Colombia,
        Venezuela y México en Europa. Nuestra misión es acercar los sabores tradicionales de Latinoamérica a los
        compatriotas lejos de casa y a aquellos que desean explorar la riqueza culinaria de la región.
    </p>
    <br />

    <h5>2. ¿Qué tipo de productos ofrecen?</h5>
    <br />
    <p>

        Ofrecemos una variedad de productos emblemáticos de Latinoamérica, como yerba, galletitas, alfajores, panela,
        salsa chipotle, tequila y muchos más. Cada artículo ha sido cuidadosamente seleccionado para garantizar su
        calidad y autenticidad.

    </p>
    <br />

    <h5>3. ¿Dónde envían los productos?</h5>
    <br />
    <p>
        Actualmente, realizamos envíos a toda Europa. Nuestra red de distribución se esfuerza por hacer que tus
        productos lleguen a tu puerta de manera rápida y segura.
    </p>
    <br />

    <h5>4. ¿Cuál es el tiempo de entrega estimado?</h5>
    <br />
    <p>
        El tiempo de entrega puede variar según la ubicación. Sin embargo, en la mayoría de los casos, los pedidos
        suelen entregarse en un plazo de 3 a 7 días laborables.

    </p>
    <br />
    <h5>5. ¿Cómo puedo rastrear mi pedido?</h5>
    <br />
    <p>
        Una vez que tu pedido sea enviado, recibirás un correo electrónico con la información de seguimiento y un enlace
        para rastrear tu paquete en tiempo real.
    </p>
    <br />
    <h5>6. ¿Cuáles son las opciones de pago disponibles?</h5>
    <br />
    <p>
        Aceptamos diversas formas de pago, incluyendo tarjetas de crédito y débito.

        <br />
        <br />
    <h5>7. ¿Qué hago si recibí un producto dañado o incorrecto?</h5>
    <br />
    <p>
        Nuestro objetivo es garantizar tu satisfacción con cada compra. Si has recibido un producto dañado o incorrecto,
        contáctanos inmediatamente y te brindaremos una solución satisfactoria, ya sea reemplazando el artículo o
        realizando un reembolso.
    </p>
    <br />
    <h5>8. ¿Ofrecen descuentos o promociones?</h5>
    <br />
    <p>

        Sí, regularmente ofrecemos descuentos y promociones especiales. Te recomendamos suscribirte a nuestro boletín
        para recibir actualizaciones sobre nuestras ofertas exclusivas.
    </p>
    <br />
    <h5>9. ¿Cómo puedo ponerme en contacto con el servicio de atención al cliente?</h5>
    <br />
    <p>

        Nuestro equipo de servicio al cliente está aquí para ayudarte en cualquier momento. Puedes ponerte en contacto
        con nosotros a través de nuestro formulario de contacto en el sitio web o enviándonos un correo electrónico a
        [correo de contacto].

        Esperamos que esta sección de preguntas frecuentes haya respondido tus dudas. Si tienes alguna otra pregunta o
        necesitas asistencia adicional, no dudes en contactarnos. ¡Gracias por elegir DeLatinos para tus compras de
        productos latinoamericanos en Europa!
    </p>

</div>