<article
  class="cart__container"
  [ngClass]="{ borderDisabled: showBorder }"
  [ngStyle]="disableShadow ? estiloActivo : estiloInactivo"
>
  <div *ngIf="cartProduct().length > 0; else noProductsAdd">
    <div class="cart__cross" (click)="emitirValor()" *ngIf="showCross">x</div>
    <h2 *ngIf="showTile">Tu carrito</h2>
    <div class="cart__content" *ngFor="let item of cartProduct()">
      <div class="logo__cart">
        <img [src]="item.image" [alt]="item.name" />
      </div>

      <div
        class="text__cart"
        [ngClass]="{ 'text__cart--unlogued': changeWidth }"
      >
        <h3 class="name">{{ item.name }}</h3>
        <div class="text__cart--center">
          <app-input-cart
            [showButton]="false"
            *ngIf="details"
            [product]="item"
            [widthCart]="true"
            (click)="totalPrice()"
          ></app-input-cart>
          <span class="grey" *ngIf="!showPaymentView"
            >x{{ item.quantity }}</span
          >
          <span> {{ item.price | currency : "€" }}</span>
        </div>
      </div>

      <div class="trash__cart">
        <i
          *ngIf="showTrash"
          class="pi pi-trash"
          (click)="deleteItemCart(item.id)"
        ></i>
        <span>{{ item.price * item.quantity | currency : "€" }}</span>
      </div>
    </div>

    <div class="cart__subtotal" *ngIf="changeButton; else contentn2">
      <span>Subtotal</span>
      <span>{{ totalPriceProduct | currency : "€" }}</span>
    </div>
    <div class="cart__button" *ngIf="changeButton; else button2">
      <button
        [routerLink]="isLogued ? '/cart-logged' : '/cart-unlogged'"
        class="button custom__button--line"
        (click)="emitirValor()"
      >
        {{ boton1 }}
      </button>
      <button
        class="button custom__button--fill"
        [routerLink]="isLogued ? '/payment' : '/cart-unlogged'"
        (click)="emitirValor()"
      >
        {{ boton2 }}
      </button>
    </div>
  </div>
</article>

<ng-template #button2>
  <button
    (click)="backHistory()"
    class="button custom__button--line button__view--two"
    *ngIf="details"
  >
    <i class="pi pi-arrow-left"></i>
    <!-- <img src="../../../assets/images/arrow.svg" alt="" /> -->
    Seguir comprando
  </button>
</ng-template>

<ng-template #contentn2>
  <div class="spacing__cart" *ngIf="isHidden; else condition2ElseBlock">
    <div class="cart__subtotal">
      <span>{{ totalProductToCart | quantity }} </span>
      <span>{{ totalPriceProduct | currency : "€" }}</span>
    </div>
    <div class="cart__subtotal">
      <span>Costo de envío aproximado</span>
      <span>€7.95</span>
    </div>
    <div class="cart__subtotal">
      <span>Total</span>
      <span>{{ totalPriceProduct + 7.95 | currency : "€" }}</span>
    </div>
  </div>
</ng-template>
<ng-template #condition2ElseBlock>
  <div *ngIf="showPaymentView; else paymentView"></div>
</ng-template>

<ng-template #noProductsAdd>
  <h2 class="title__alternative">No hay artículos en el carrito</h2>
</ng-template>

<ng-template #paymentView>
  <div class="payment__cart">
    <div class="payment__content">
      <p>Impuesto aplicado IVA <span class="grey">(+19%)</span></p>
      <span>{{ totalPriceProduct * 0.19 | currency : "€" }}</span>
    </div>

    <div class="payment__content grey">
      <p>Peso total</p>
      <span>{{ totalProductWeight }}gr</span>
    </div>

    <div class="payment__content">
      <p>Subtotal</p>
      <span class="price">{{
        totalPriceProduct * 1.19 + 7.95 | currency : "€"
      }}</span>
    </div>
  </div>
</ng-template>
