@import "src/styles.scss";

.productos-contenedor{
  display: flex;
  justify-content:flex-end;
}
.filtro{
  display: block;
  padding-top: 100px;
  font-family: 'Quicksand';
}
.categoria{
  font-weight: 700;
  font-size: 20px;
  
}
.producto{
  margin-right: 20px;
  width: 900px;
}