<div class="contenedora">
    <h3>Información sobre envíos</h3><br>
    <h5>¿Cómo se realiza?</h5><br>
    <p>Los envíos quedan a cargo de los proveedores de servicio “UPS”, “SEUR” y “DHL”, del cual puedes seleccionar uno
        al momento de la compra. Nosotros nos aseguramos que tu pedido se despache en tiempo y forma entregandolo lo más
        pronto se realice el pago al proveedor de entregas.</p><br>
    <div class="empresas-envio">
        <div class="img-envio"><img src="././assets/images/ups.png" alt="ups" class="img-ups"> <p class="ups-text">UPS</p></div>
        <div class="img-envio"> <img src="././assets/images/SEUR.png" alt="SEUR" class="img-seur"> <p class="seur-text">SEUR</p></div>
        <div class="img-envio"><img src="././assets/images/DHL.png" alt="DHL" class="img-dhl"> <p class="dhl-text">DHL</p></div>
    </div>
    <h5>¿Cuánto tiempo tarda?</h5><br>
    <p>El tiempo de entrega varía dependiendo del proveedor elegido y el momento donde se realice, y si se ha hecho en
        días hábiles. Por lo general tarda entre 72hs y 5 días.</p><br><br>
    <h5>Formas de pago</h5><br>
    <p>Los medios de pago disponibles son débito, crédito y PayPal. Trabajamos con las siguientes tarjetas:</p><br>

    <div class="medios-de-pago">
        <img src="././assets/images/Visa.png" alt="Visa">
        <img src="././assets/images/MasterCard.png" alt="MasterCard">
        <img src="././assets/images/AmericanExpress.png" alt="Amex">
        <img src="././assets/images/paypal.png" alt="PayPal">
    </div>
    <p>Condiciones</p><br>
    <p>El usuario, para poder acceder a los servicios o productos ofrecidos por el prestador "DeLatinos", deberá darse
        de alta a través del sitio web mediante la creación de una cuenta de usuario. Para eso el usuario deberá
        proporcionar de manera libre y voluntaria los datos personales que se le requerirán.
        <br><br>
        El usuario se debe comprometer a hacer uso responsable de sus datos y comunicar al prestador inmediatamente en
        caso de robo, acceso no autorizado o pérdida de los mismos para realizar el bloqueo inmediato.
        <br><br>
        El prestador no realizara ningún pedido hasta que se haya comprobado que se ha realizado el pago.
        <br><br>
        Una vez expedidas, las compras no pueden ser canceladas.
        <br><br>
        El prestador no asumirá ninguna responsabilidad cuando la entrega del producto o servicio no llegue a realizarse
        debido a datos falsos, inexactos o incompletos facilitados por el usuario.
        <br><br>
        El prestador no asumirá ninguna responsabilidad en caso de situaciones excepcionales relacionadas con el
        transporte, como huelgas, fenómenos meteorológicos, etc, por lo que nuestra compañía queda exenta de cualquier
        responsabilidad si el servicio no se puede realizar, quedando a cargo del proveedor de entrega elegido por el
        usuario.
        <br><br>
        En caso de devolución, el usuario dispone de un plazo de 14 días naturales contados a partir de la fecha de la
        recepción del producto para la devolución del mismo. El producto deberá devolverse en su embalaje original y
        perfecto estado.
        <br><br>
        Cualquier reclamación que el usuario considere oportuna será recibida por el siguiente mail
        atencionalcliente@delatinos.com
        <br><br>
        Los precios que se indican respecto de cada producto incluyen el Impuesto sobre el Valor Añadido (IVA) según el
        país de destino. No incluyen los gastos de envío o servicios extra. Todos se expresan en moneda EURO y estos
        pueden cambiar sin aviso previo, solamente mantendrán su valor al momento que el usuario confirme el pedido.
        <br><br>
        El máximo de peso que puede tener el pedido es 20 kilogramos.
        Los datos de facturación quedan protegidos dentro de nuestra página.

    </p>
</div>


