<section>
  <form [formGroup]="form" (ngSubmit)="form.valid && login_create()" novalidate>
    <h2>Crear Cuenta</h2>
    <div class="contenedor1">
      <p class="title">1. Datos personales</p>
      <div class="input-label">
        <label>
          Nombre/s
          <input type="text" [formControl]="name">
        </label>
        <label>
          Apellido/s
          <input type="text" [formControl]="lastname">
        </label>
      </div>
      <div class="input-label">
        <label>
          Correo electronico
          <input type="email" [formControl]="email" autocomplete>
        </label>
        <label>
          Movil
          <input type="number" [formControl]="tel">
        </label>
      </div>
    </div>
    <div class="contenedor2">
      <p class="title">2. Dirección</p>
      <div class="input-label">
        <label>
          Pais
          <input type="text" [formControl]="pais">
        </label>
        <label>
          Provincia/ Comunidad
          <input type="text" [formControl]="provincia">
        </label>
      </div>
      <div class="input-label">
        <label>
          Codigo postal
          <input type="number" [formControl]="postal">
        </label>
        <label>
          Ciudad
          <input type="text" [formControl]="ciudad">
        </label>
      </div>
      <div class="input-label">
        <label>
          Dirección
          <input type="text" [formControl]="direccion" placeholder="Nombre y número de calle">
        </label>
        <label>
          Detalles de dirección
          <input type="text" [formControl]="detalle_dir" placeholder="Indicaciones">
        </label>
      </div>
      <div class="">
        <label class="check">
          <input type="checkbox" class="check-input" [formControl]="check_fact">
          Utilizar esta dirección para los datos de facturación
        </label>
      </div>
      <div class="space-buton">
        <button type="submit">Crear cuenta</button>
      </div>
    </div>

  </form>
</section>
