<section>
  <form [formGroup]="registerForm" (ngSubmit)="login_create()" novalidate>
    <h2>Crear Cuenta</h2>
    <div class="contenedor1">
      <p class="title">1. Datos personales <span>*Campo requerido</span></p>
      <div class="input-label">
        <label>
          <span class="required">Nombre/s</span>
          <input type="text" formControlName="name" />
        </label>
        <label>
          <span class="required">Apellido/s</span>
          <input type="text" formControlName="lastname" />
        </label>
      </div>
      <div class="input-label input__label-left">
        <label>
          <span class="required">Correo electronico</span>

          <input type="email" formControlName="email" autocomplete />
        </label>
      </div>
      <div class="input-label">
        <label>
          <span class="required">Contraseña</span>

          <input type="password" formControlName="password" />
        </label>

        <label>
          <span class="required">Confirmar contraseña*</span>

          <input
            type="password"
            formControlName="confirmPassword"
            autocomplete
          />
        </label>
      </div>

      <div class="space-buton">
        <button type="submit">Crear cuenta</button>
      </div>
    </div>
  </form>
</section>

<p-dialog
  [(visible)]="visible"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '25vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <article class="modal__container">
    <div class="modal__logo">
      <i class="pi pi-check"></i>
    </div>
    <h2>Cuenta creada</h2>
    <p>
      Tu cuenta ha sido exitosamente creada, confirma el mail que te enviamos a
      tu correo para continuar a la compra.
    </p>

    <button class="button custom__button--line" (click)="closeModal()">
      Aceptar
    </button>
  </article>
</p-dialog>
