<section>
  <div class="contenedor2">
    <div class="casa">
      <div class="iconoCasa">
        <div>
          <img src="../../../assets/images/Union.png" alt="icono persona" />
        </div>
        <div>
          <div>
            <p class="title">Datos personales</p>
            <p class="subtitle">
              {{ userData.name + " " + userData.lastName }}
            </p>
            <p class="subtitle2">{{ userData.email }}</p>
            <p class="subtitle2">{{ userData.phonesList | numberPhone }}</p>
          </div>
        </div>
      </div>

      <div>
        <div class="flex gap-2 edit">
          <button
            type="button"
            class="flex align-items-center gap-1 p-1 m-0 flex-col btn-password button custom__button--line"
            [routerLink]="['/changepassword']"
          >
            <i class="pi pi-lock" style="font-size: 10px"></i>
            Cambiar contraseña
          </button>
          <i class="pi pi-pencil" (click)="On_click1()"></i>
        </div>
      </div>
    </div>
  </div>
</section>
