<section>
  <div class="contenedor2">
    <div class="casa">
      <div class="iconoCasa">
        <div>
          <img src="../../../assets/images/Union.png" alt="icono persona" />
        </div>
        <div>
          <div>
            <p class="title">Datos personales</p>
            <p class="subtitle">Mariano García Machado</p>
            <p class="subtitle2">Mariano_garcia@gmail.com</p>
            <p class="subtitle2">+34.652.253.478</p>
          </div>
        </div>
      </div>

      <div>
        <div class="flex align-items-center gap-2">
          <button type="button">Añadir dirección</button>
          <i class="pi pi-pencil" (click)="On_click1()" ></i>
        </div>
      </div>
    </div>
  </div>
</section>
