<mat-accordion multi>
  <mat-expansion-panel expanded="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="pi pi-check check-list"></i>
        Datos personales
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="contenedor1">
      <div class="description">
        <div class="logo__container">
          <i class="pi pi-user"></i>
          <!-- <img
            class="imagen"
            src="../../../assets/images/user.svg"
            alt="foto"
          /> -->
        </div>
        <div>
          <p style="text-align: start">
            {{ userData.name + " " + userData.lastName }}
          </p>
          <p style="text-align: start">{{ userData.email }}</p>
        </div>
      </div>
      <div>
        <p>{{ phoneNumber }}</p>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title
        class="flex justify-content-between align-items-center p-0 m-0"
      >
        <div class="flex flex-col">
          <div *ngIf="!this.show; else elseBlock" class="mr-1">2.</div>
          <ng-template #elseBlock>
            <i class="pi pi-check check-list"></i>
          </ng-template>
          Dirección de entrega
        </div>
        <!-- <div>
          <select
            name="select"
            [ngStyle]="{ visibility: !this.show1 ? 'visible' : 'hidden' }"
          >
            <option value="direccion_1">Direccion 1</option>
            <option value="direccion_2">Direccion 2</option>
            <option value="direction_3">Direccion 3</option>
          </select>
        </div> -->
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form
      [formGroup]="shippingDetail"
      (ngSubmit)="shippingDetail.valid && form_person()"
      novalidate
    >
      <div class="contenedor2">
        <div class="input-label">
          <label>
            <span class="required"> Pais </span>
            <input type="text" formControlName="country" />
          </label>
          <label>
            <span class="required"> Provincia/ Comunidad </span>

            <input type="text" formControlName="province" />
          </label>
        </div>
        <div class="input-label">
          <label>
            <span class="required"> Codigo postal </span>

            <input type="number" formControlName="postalCode" />
          </label>
          <label>
            <span class="required"> Ciudad </span>

            <input type="text" formControlName="city" />
          </label>
        </div>
        <div class="input-label">
          <label>
            <span class="required"> Dirección </span>

            <input
              type="text"
              formControlName="address"
              placeholder="Nombre y número de calle"
            />
          </label>
          <label>
            <span class="required"> Detalles de dirección </span>

            <input
              type="text"
              formControlName="addressDetail"
              placeholder="Indicaciones"
            />
          </label>
        </div>
        <div class="">
          <label class="check">
            <input
              type="checkbox"
              class="check-input"
              formControlName="checkFact"
            />
            Utilizar esta dirección para los datos de facturación
          </label>
        </div>
        <div class="space-buton">
          <button
            class="button custom__button--fill"
            [disabled]="shippingDetail.invalid"
            type="submit"
          >
            Confirmar
          </button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle [disabled]="!show">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div *ngIf="this.show1 === false; else elseBlock" class="mr-1">3.</div>
        <ng-template #elseBlock>
          <i class="pi pi-check check-list"></i>
        </ng-template>
        Seleccionar método de envío
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="contenedor3">
      <form
        [formGroup]="shippingMethod"
        (ngSubmit)="shippingMethod.valid && form_send()"
        novalidate
      >
        <p class="mb-1 mobile">Impuestos incluidos</p>
        <div class="flex flex-column gap-3">
          <div
            class="flex justify-content-between align-items-center p-3"
            [ngStyle]="{
              background:
                shippingMethod.value.shippingMethod! === 'SEUR'
                  ? '#DBFDF7'
                  : '#E7E7E7'
            }"
          >
            <p-radioButton
              value="SEUR"
              formControlName="shippingMethod"
            ></p-radioButton>
            <img src="../../../assets/images/seur.jpg" alt="" width="100" />
            <p class="mobile">SEUR</p>
            <div class="input_info">
              <p>Entrega en 48 a 72hs.</p>
              <p>€7.95</p>
            </div>
          </div>

          <div
            class="flex justify-content-between align-items-center p-3"
            [ngStyle]="{
              background:
                shippingMethod.value.shippingMethod! === 'UPS'
                  ? '#DBFDF7'
                  : '#E7E7E7'
            }"
          >
            <p-radioButton
              value="UPS"
              formControlName="shippingMethod"
            ></p-radioButton>
            <img src="../../../assets/images/ups.png" alt="" />
            <p class="mobile">UPS</p>
            <div class="input_info">
              <p>Entrega en 48 a 72hs.</p>
              <p>€7.95</p>
            </div>
          </div>

          <div
            class="flex justify-content-between align-items-center p-3"
            [ngStyle]="{
              background:
                shippingMethod.value.shippingMethod! === 'DHL'
                  ? '#DBFDF7'
                  : '#E7E7E7'
            }"
          >
            <p-radioButton
              value="DHL"
              formControlName="shippingMethod"
            ></p-radioButton>
            <img src="../../../assets/images/dhl.svg" alt="" width="100" />
            <p class="mobile">DHL</p>
            <div class="input_info">
              <p>Entrega en 48 a 72hs.</p>
              <p>€7.95</p>
            </div>
          </div>

          <span
            >Si desea dejarnos un comentario acerca de su pedido, escríbalo a
            continuación.</span
          >

          <textarea
            formControlName="commentShipping"
            name=""
            id=""
            cols="30"
            rows="2"
          ></textarea>
          <div class="flex justify-content-end">
            <button
              [disabled]="shippingMethod.invalid"
              class="p-0 m-0 button custom__button--fill"
              type="submit"
            >
              Confirmar
            </button>
          </div>
        </div>
      </form>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle [disabled]="!show1">
    <mat-expansion-panel-header>
      <mat-panel-title
        class="flex justify-content-between align-items-center p-0 m-0"
      >
        <div class="flex flex-col">
          <div *ngIf="this.show2 === false; else elseBlock" class="mr-1">
            4.
          </div>
          <ng-template #elseBlock>
            <i class="pi pi-check check-list"></i>
          </ng-template>
          Pagar
        </div>

        <button
          class="p-0 m-0 button custom__button--fill"
          [ngStyle]="{ visibility: show1 ? 'visible' : 'hidden' }"
          type="submit"
          (click)="sendData()"
          routerLink="/details"
        >
          Continuar a la compra
        </button>
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
