mat-accordion {
  margin: 15px;
}

mat-expansion-panel {
  display: flex;
  max-width: 700px;
  flex-direction: column;
  margin-bottom: 10px;
  border: 1px solid #8b8b8b;
  border-radius: 8px !important;
}

.contenedor2,
.contenedor1,
.contenedor3 {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.contenedor2 {
  padding-bottom: 20px;
  justify-content: center;
}

.contenedor1 {
  background-color: #dbfdf7;
  width: 100%;
  height: 72px;
  border-radius: 4px;
  align-items: center;
  justify-content: space-around;
}

.contenedor3 {
  flex-direction: column;
}

input {
  width: 306px;
  height: 40px;
  border-radius: 4px;
  border: 0.5px solid #2f3f61;
  background: #e7e7e7;
  margin: 0;
  padding-left: 15px;
  color: #2f3f61;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.8px; /* 120% */
  letter-spacing: 0.3px;
}

.input-label {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
}

h2 {
  //styleName: Heading 1 - titulos;
  font-size: 26px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  padding: 45px 0 30px;
}

.title {
  //styleName: Heading 2 - titulos 2;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

label {
  display: flex;
  flex-direction: column;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  gap: 5px;
}

.check-input {
  height: 18px;
  width: 18px;
  border-radius: 2px;
  border: 2px solid #565656 !important;
}

.check {
  display: flex;
  flex-direction: row;
  padding: 10px 0 20px 0;
  gap: 10px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.3px;
  text-align: left;
}

.space-buton {
  display: flex;
  justify-content: flex-end;
}

button {
  width: 191px;
  height: 40px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  margin-top: 30px;
  background: #4a639a;
  color: #ffffff;
}

button:disabled {
  background: #999999;
}

input.ng-touched.ng-invalid {
  border-color: red;
}

input.ng-dirty.ng-invalid {
  border-color: red;
}

.imagen {
  width: 44px;
  height: 42px;
  border-radius: 100%;
}

.description {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

p {
  //styleName: Heading 4;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: end;
}

textarea {
  border-radius: 2px;
  border: 0.5px solid #2f3f61;
  background: #eee;
}

.check-list {
  font-size: 0.6rem;
  color: white;
  padding: 2.5px;
  margin-right: 5px;
  background: #4af6d7;
  font-weight: bolder;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}
