<div class="contenedora">
    <h3>AVISO LEGAL</h3>
    <br />
    <br />
    <br />
    <h5>CONDICIONES DE USO</h5>
    <br />
    <p>
        El uso del sitio Web www.DeLatinos.com (en adelante, el "Sitio Web") se rige por las normas establecidas en el
        presente aviso legal. La utilización del mismo implica que usted acepta dichas condiciones. Puede contactar con
        DELATINOS, S.L. (en adelante, DeLatinos) en la dirección abajo indicada o a través de la dirección de correo
        electrónico: info@delatinos.com
    </p>
    <br />

    <h5>DATOS IDENTIFICATIVOS</h5>
    <br />
    <p>

        Para dar cumplimiento con lo establecido en la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la
        información y de comercio electrónico, a continuación, se indican los datos de información general de este sitio
        Web.
        Titular: DELATINOS, S.L
        Dirección: C/ Gran Vía, 15 – 28013- 5 piso (Madrid)
        N.I.F.: B4512844
        TLF.: +34 971 10 22 22
    </p>
    <br />

    <h5>PROPIEDAD INTELECTUAL:</h5>
    <br />
    <p>
        DeLatinos S.L., por sí o como cesionaria, es titular de todos los derechos de propiedad intelectual e industrial
        de sus páginas webs, así como de los elementos contenidos en el mismo (a título enunciativo, imágenes, sonido,
        audio, vídeo, software o textos; marcas o logotipos, combinaciones de colores, estructura y diseño, selección de
        materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc…), titularidad de
        DeLatinos S.L. o bien de sus licenciantes. Todos los derechos reservados. En virtud de lo dispuesto en los
        artículos 8 y 32.1, párrafo segundo, de la Ley de Propiedad Intelectual, quedan expresamente prohibidas la
        reproducción, la distribución y la comunicación pública, incluida su modalidad de puesta a disposición, de la
        totalidad o parte de los contenidos de esta página web, con fines comerciales, en cualquier soporte y por
        cualquier medio técnico, sin la autorización de DeLatinos S.L. El USUARIO se compromete a respetar los derechos
        de Propiedad Intelectual e Industrial titularidad de DeLatinos SL. Podrá visualizar los elementos de las
        diferentes websites e incluso imprimirlos, copiarlos y almacenarlos en el disco duro de su ordenador o en
        cualquier otro soporte físico siempre y cuando sea, única y exclusivamente, para su uso personal y privado. El
        USUARIO deberá abstenerse de suprimir, alterar, eludir o manipular cualquier dispositivo de protección o sistema
        de seguridad que estuviera instalado en las páginas de DeLatinos S.L.
    </p>
    <br />
   
    <h5>CONDICIONES DEL SITIO WEB</h5>
    <br />
    <p>
        El uso y la navegación por el Sitio Web implica aceptar y conocer las advertencias legales, condiciones y
        términos de uso que el mismo contiene, especial el presente Aviso Legal y la Política de Protección de Datos.
        DeLatinos S.L. se reserva el derecho a actualizar, modificar o eliminar la información de este Sitio Web,
        pudiendo a tal fin limitar o no permitir el acceso al Sitio Web.
    </p>
    <br />
    <h5>USO DE COOKIES</h5>
    <br />
    <p>
        El prestador, por su propia cuenta o la de un tercero contratado para la prestación de servicios de mediación,
        pueden utilizar cookies cuando un usuario navega por el sitio web. Las cookies son ficheros enviados al
        navegador por medio de un servidor web con la finalidad de registrar las actividades del usuario durante su
        tiempo de navegación.
        Las cookies utilizadas por el sitio web se asocian únicamente con un usuario anónimo y su ordenador, y no
        proporcionan por sí mismas los datos personales del usuario.
        Mediante el uso de las cookies resulta posible que el servidor donde se encuentra la web, reconozca el navegador
        web utilizado por el usuario con la finalidad de que la navegación sea más sencilla, permitiendo, por ejemplo,
        el acceso a los usuarios que se hayan registrado previamente, acceder a las áreas, servicios, promociones o
        concursos reservados exclusivamente a ellos sin tener que registrarse en cada visita. Se utilizan también para
        medir la audiencia y parámetros del tráfico, controlar el progreso y número de entradas.
        El usuario tiene la posibilidad de configurar su navegador para ser avisado de la recepción de cookies y para
        impedir su instalación en su equipo. Por favor, consulte las instrucciones y manuales de su navegador para
        ampliar esta información.
        Para utilizar el sitio web, no resulta necesario que el usuario permita la instalación de las cookies enviadas
        por el sitio web, o el tercero que actúe en su nombre, sin perjuicio de que sea necesario que el usuario inicie
        una sesión como tal en cada uno de los servicios cuya prestación requiera el previo registro o “login”.
        Las cookies utilizadas en este sitio web tienen, en todo caso, carácter temporal con la única finalidad de hacer
        más eficaz su transmisión ulterior. En ningún caso se utilizarán las cookies para recoger información de
        carácter personal.
    </p>
    <br />
    <h5>POLÍTICA DE ENLACES</h5>
    <br />
    <p>
        En este Sitio Web se ofrecen enlaces a páginas Web de terceros mediante botones, links, banners, etc. La
        utilización de los citados enlaces es de su exclusiva responsabilidad ya que DeLatinos S.L. no se responsabiliza
        de los contenidos de los sitios Web enlazados.
        Caso que cualquier empresa o particular deseen establecer enlaces con destino al Sitio Web deberán respetar las
        siguientes estipulaciones:
        El enlace solamente se podrá dirigir a la página principal del Sitio Web, y abarcar toda la extensión de la
        pantalla de la página principal, no pudiendo incluir dicho enlace como parte de otra Web o dentro de uno de sus
        "frames" o crear un "browser" sobre cualquier página del Sitio Web.
        La página que realiza el enlace no podrá declarar que el mismo está autorizado por DeLatinos S.L. ni incluir la
        marca, denominación, nombre comercial, rótulo, logotipo, slogan o cualquier otro tipo de elemento identificativo
        de DeLatinos S.L.
        DeLatinos S.L. excluye expresamente que se puedan realizar enlaces desde aquellas páginas Web que contengan
        materiales, información o contenidos ilícitos, ilegales, degradantes, obscenos, y en general, que contravengan
        la moral, el orden público o las normas sociales generalmente aceptadas.
        <br />
        <br />
    <h5>LIMITACIÓN DE RESPONSABILIDADES</h5>
    <br />
    <p>
        Bajo ninguna circunstancia DeLatinos S.L. será responsable ante terceros por cualquier daño directo o indirecto,
        económico o no resultado del uso del Sitio Web. DeLatinos S.L. no garantiza ni se hace responsable de la
        ausencia de virus y/o demás componentes dañinos en el Sitio Web o en el servidor que lo suministra, los datos o
        perjuicios que cause, a sí mismo o a un tercero, cualquier persona que infringiera las condiciones, normas e
        instrucciones que DeLatinos S.L. establece en el Sitio Web o a través de la vulneración de los sistemas de
        seguridad. DeLatinos S.L. declara que ha adoptado todas las medidas necesarias, dentro de sus posibilidades y
        del estado de la tecnología, para garantizar el funcionamiento del Sitio Web y evitar la existencia y
        transmisión de virus y demás componentes dañinos a los Usuarios.

        DeLatinos S.L. se reserva el derecho a emprender las acciones legales que estime oportunas contra las personas
        que utilicen el Sitio Web de manera distinta a la estipulada o que pudiera dañar la imagen de DeLatinos S.L. o
        de terceros y a exigirles una indemnización por los daños y perjuicios que se deriven de reclamaciones, acciones
        o demandas de terceros (incluyendo sin limitación honorarios de abogados) como consecuencia de las acciones
        anteriores u otras que se pudieran producir.
    </p>
    <br />
    <h5>JURISDICCIÓN Y LEYES APLICABLES</h5>
    <br />
    <p>

        Las Condiciones Generales declaradas en este sitio Web se regirán por la legislación española DeLatinos S.L. y
        el usuario, con renuncia expresa al fuero que pudiera corresponderles, se someten a la Jurisdicción de los
        Juzgados y Tribunales de SANT FELIU DE GUIXOLS
        Exactitud de la Información Ofrecida en el Portal
        Las informaciones contenidas en el portal han sido elaboradas exclusivamente con carácter divulgativo y no
        tienen carácter oficial o de oferta de servicios, salvo cuando así se indique expresamente. Las características
        de los productos y funcionalidades descritas son una información genérica dada por el fabricante de los
        productos a DeLatinos S.L. por lo que no nos responsabilizamos de su exactitud y en ningún caso suponen una
        oferta publicitaria vinculante para DeLatinos S.L. Únicamente tendrán efectos legales para DeLatinos S.L., las
        características de los productos pactadas contractualmente o la documentación técnica (manual del usuario) del
        producto suministrado.

        DeLatinos S.L. no garantiza que la información contenida en el portal sea exacta, vigente o completa. ésta se
        proporciona "tal y como está" y bajo ninguna circunstancia garantiza, de manera implícita o explícita, la
        obtención de un resultado determinado o su adecuación a un objetivo concreto, por lo cual DeLatinos S.L. no se
        hace responsable de cualquier pérdida, ya sea directa o indirecta, causada como consecuencia de una decisión
        tomada basándose a la información aquí facilitada.

        Las informaciones y contenidos existentes pueden ser cambiados o retirados sin previo aviso. Igualmente se
        podrán realizar mejoras o cambios en los productos, servicios, diseño o programas utilizados para su
        funcionamiento en cualquier momento y sin previo aviso.
        Información relacionada con la resolución de disputa en línea del Art. 14, párr. 1 del ODR (Regulación de
        resolución de disputa en línea):
        La Comisión Europea ofrece a los consumidores la oportunidad de resolver disputas en línea conforme al Art. 14,
        párr. 1 del ODR en una de sus plataformas. La plataforma (http://ec.europa.eu/consumers/odr) sirve como web en
        la que los consumidores pueden intentar llegar a acuerdos sin ir a juicio relacionados con las disputas que
        surjan en las compras y contratos de servicios en línea.
    </p>

</div>