<header>
  <div class="header__content" [ngClass]="{ padding__header: headerFixed() }">
    <img
      class="logo"
      src="../../../../assets/images/logo.svg"
      alt=""
      routerLink=""
      width="220"
    />
  </div>

  <nav class="navbar" [ngClass]="{ navbar__fixed: headerFixed() }">
    <div class="navbar__content">
      <div *ngIf="showCategories()">
        <app-navbar-categories></app-navbar-categories>
      </div>
      <div class="info__producs">
        <button>Productos</button>
        <button routerLink="shipping-info">Info de Envíos</button>
      </div>

      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="value" />
      </span>

      <div class="option__user">
        <h3 *ngIf="!isLoged; else loguedUser">
          <!-- <span>Hola, Mariano</span> -->
          <i class="pi pi-user" (click)="showDialog()"></i>
        </h3>
        <!-- <i class="pi pi-shopping-cart"></i> -->
        <div class="cart__container--icon">
          <i class="pi pi-shopping-bag" (click)="showDialogCart()"></i>
          <span
            class="badge__cart"
            *ngIf="totalProductToCart() > 0"
            [ngStyle]="
              isLoged
                ? { backgroundColor: '#4af6d7' }
                : { backgroundColor: '#EAEAEA' }
            "
            >{{ totalProductToCart() }}</span
          >
        </div>

        <div class="cart__container" *ngIf="visibleCart()" #menuContainer>
          <app-cart
            (visibleCart)="emitirValor($event)"
            [isLogued]="isLoged"
            [showCross]="false"
          ></app-cart>
        </div>
      </div>
    </div>
  </nav>
</header>

<p-dialog
  [(visible)]="visible"
  [style]="{ width: '400px' }"
  [breakpoints]="{ '450px': '95vw' }"
  [modal]="false"
>
  <div class="login__container" #menuContainer>
    <app-login (visible)="closeDialog($event)"></app-login>
  </div>
</p-dialog>

<ng-template #loguedUser>
  <div class="logued__container">
    <h3 (click)="showUserMenu()">
      <span>Hola, {{ userData!.name }}</span>
      <i class="pi pi-user"></i>
    </h3>

    <div class="user__account" *ngIf="visibleMyAccount()">
      <p routerLink="my-account" (click)="showUserMenu()">Mi cuenta</p>
      <p (click)="showDialogLogout()">Cerrar sesión</p>
    </div>
  </div>
</ng-template>

<p-dialog
  [(visible)]="logout"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '25vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
>
  <article class="modal__container">
    <div class="modal__logo">
      <i class="pi pi-user"></i>
    </div>
    <h2>¿Deseas cerrar sesión?</h2>
    <p>
      Confirma que quieres cerrar sesión, tendrás que volver a acceder la
      próxima vez que quieras realizar una compra.
    </p>

    <button class="button custom__button--line" (click)="logOut()">
      Cerrar sesión
    </button>
  </article>
</p-dialog>
