<header>
  <div class="header__content" [ngClass]="{ padding__header: headerFixed() }">
    <span class="logo" routerLink="">LOGO</span>
  </div>

  <nav class="navbar" [ngClass]="{ navbar__fixed: headerFixed() }">
    <div class="navbar__content">
      <div *ngIf="showCategories()">
        <app-navbar-categories></app-navbar-categories>
      </div>
      <div class="info__producs">
        <button>Productos</button>
        <button>Info de Envíos</button>
      </div>

      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="value" />
      </span>

      <div class="option__user">
        <h3>
          <!-- <span>Hola, Mariano</span> -->
          <!-- <i class="pi pi-user" ></i> -->
          <i
            class="pi pi-user"
            width="18px"
            alt="user icon"
            (click)="showDialog()"
          ></i>
          <!--  <img
            src="../../../../assets/images/user.svg"
            width="18px"
            alt="user icon"
            (click)="showDialog()"
          />-->
        </h3>
        <!-- <i class="pi pi-shopping-cart"></i> -->
        <!--<img
          src="../../../../assets/images/cart.svg"
          width="18px"
          alt="cart icon"
          (click)="showDialogCart()"
        />-->
        <i
          class="pi pi-shopping-cart"
          id="imgCart"
          width="18px"
          alt="cart icon"
          (click)="showDialogCart()"
        ></i>

        <div class="cart__container" *ngIf="visibleCart()" #menuContainer>
          <app-cart (visibleCart)="emitirValor($event)"></app-cart>
        </div>
      </div>
    </div>
  </nav>
</header>

<p-dialog
  [(visible)]="visible"
  [style]="{ width: '400px' }"
  [breakpoints]="{ '450px': '95vw' }"
>
  <div class="login__container" #menuContainer>
    <app-login></app-login>
  </div>
</p-dialog>
