@import "src/styles.scss";

section {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: $text-color-primary;
}

.filter-card {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 65px 0px;
  padding-left: 3.8rem;
}

h2 {
  //styleName: Heading 1 - titulos;
  font-size: 26px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

label {
  //styleName: Heading 3 - texto y botones;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

select {
  width: 250px;
  height: 45px;
  border-radius: 7px;
  border: 1px solid #000;
  background-color: #fff;
  //styleName: Heading 3 - texto y botones;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.list-card {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
}

.paginador {
  padding-top: 100px;
  padding-bottom: 70px;
}

@include media-up(mobile) {
  .filter-card {
    flex-direction: column;
  }
}
