<section>
  <div class="filter-card">
    <h2>Todos los productos</h2>
    <form [formGroup]="selectForm">
      <label for="filter">
        Ordenar por:
        <select
          formControlName="filter"
          id="filter"
          (change)="obtenerValorSeleccionado()"
        >
          <option selected value="">Alfabéticamente</option>
          <option value="smaller">Precio: menor a mayor</option>
          <option value="greater">Precio: mayor a menor</option>
        </select>
      </label>
    </form>
  </div>
  <div class="list-card">
    <app-card *ngFor="let product of products" [product]="product"></app-card>
  </div>
</section>
<div class="paginador">
  <div class="flex align-items-center justify-content-center">
    <div class="flex-1">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="1"
        [totalRecords]="totalPageNumber"
        [style]="{ background: '#EDF3F6' }"
      ></p-paginator>
    </div>
  </div>
</div>
