<section>
  <div class="filter-card">
    <h2>Todos los productos</h2>
    <div>
      <label for="filter">
        Ordenar por:
        <select name="filter" id="filter">
          <option value="prime1">Precio: menor a mayor</option>
          <option value="prime1">prime1</option>
        </select>
      </label>
    </div>
  </div>
  <div class="list-card">
    <app-card *ngFor="let product of products" [product]="product"></app-card>
  </div>
</section>
<div class="paginador">
  <div class="flex align-items-center justify-content-center">
    <div class="flex-1">
      <p-paginator
        [rows]="10"
        [totalRecords]="120"
        [showFirstLastIcon]="false"
        [style]="{ background: '#EDF3F6' }"
      ></p-paginator>
    </div>
  </div>
</div>
