<form [formGroup]="addCartForm" class="class-add" (ngSubmit)="addToCart()">
  <div
    class="input__cart--left"
    [ngStyle]="showInput ? { display: '' } : { display: 'none' }"
  >
    <input type="number" formControlName="quantity" min="1" minlength="1" />
    <div class="select-down">
      <button type="button" class="down" (click)="changeValue(+1)">
        <img src="../../../assets/mas.png" alt="" class="icon" />
      </button>
      <button type="button" class="down" (click)="changeValue(-1)">
        <img src="../../../assets/menos.png" alt="" class="icon" />
      </button>
    </div>
  </div>
  <button
    *ngIf="showButton"
    type="submit"
    class="button"
    [ngClass]="changeClass ? 'custom__button--line' : 'custom__button--fill'"
    [ngStyle]="{ width: changeWidth }"
  >
    Añadir al carrito
  </button>
</form>
