<section>
    <form [formGroup]="registerForm" (ngSubmit)="login_create()" novalidate>

        <div class="contenedor1">
            <p class="title">1. Datos personales <span class="correo">mariano_garcia@gmail.com</span></p>
            <div class="input-label">
                <label>
                    <span class="required">Nombre/s</span>
                    <input type="text" formControlName="name" />
                </label>
                <label>
                    <span class="required">Apellido/s</span>
                    <input type="text" formControlName="lastname" />
                </label>
                <p>Números de contacto</p>
            </div>

            <div class="input-label">
                <label>
                    <span class="required">Código de área*</span>
                    <div class="posicion-input">
                        <input class="campo-input" type="number" formControlName="password" />

                        <input class="campo-input" type="number" formControlName="password" />
                    </div>
                </label>

                <label>
                    <span class="required">Número principal*</span>

                    <input type="tel" formControlName="confirmPassword" autocomplete />
                </label>
            </div>
            <div class="input-label">
                <label>
                    <span class="required">Código de área</span>
                    <div class="posicion-input">
                        <input class="campo-input" type="number" formControlName="password" />

                        <input class="campo-input" type="number" formControlName="password" />
                    </div>
                </label>

                <label>
                    <span class="required">Número alternativo</span>

                    <input type="tel" formControlName="confirmPassword" autocomplete />
                </label>
            </div>

            <div class="space-buton">
                <button class="button custom__button--fill" type="submit">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</section>