<section>
  <form [formGroup]="registerForm" (ngSubmit)="updatePersonalData()" novalidate>
    <div class="contenedor1">
      <div class="icono">
        <p class="title">
          <img src="../../../assets/images/Union.png" alt="icono persona" />
          Datos personales
        </p>
        <span class="correo">{{ userData.email }}</span>
      </div>
      <div class="input-label">
        <label>
          <span class="required">Nombre/s</span>
          <input
            type="text"
            formControlName="name"
            [placeholder]="userData.name"
          />
        </label>
        <label>
          <span class="required">Apellido/s</span>
          <input
            type="text"
            formControlName="lastname"
            [placeholder]="userData.lastName"
          />
        </label>
      </div>
      <div class="numTel">
        <p>Números de contacto</p>
      </div>
      <div class="input-label">
        <label>
          <span class="required">Código de área*</span>
          <div class="posicion-input">
            <input
              class="campo-input"
              type="number"
              formControlName="countryCodePrimary"
              [placeholder]="userData.phonesList[0].countryCode ?? ''"
            />

            <input
              class="campo-input"
              type="number"
              formControlName="cityCodePrimary"
              [placeholder]="userData.phonesList[0].cityCode ?? ''"
            />
          </div>
        </label>

        <label>
          <span class="required">Número principal</span>

          <input
            type="tel"
            formControlName="phoneNumberPrimary"
            autocomplete
            [placeholder]="userData.phonesList[0].phoneNumber ?? ''"
          />
        </label>
      </div>
      <div class="indicaciones">
        <span>Código por país</span><span>Código de área</span
        ><span class="tres">Con el que podrás recibir la entrega</span>
      </div>
      <div class="input-label">
        <label>
          <span class="">Código de área</span>
          <div class="posicion-input">
            <input
              class="campo-input"
              type="number"
              formControlName="countryCodeSecondary"
              [placeholder]="userData.phonesList[1]?.countryCode ?? ''"
            />

            <input
              class="campo-input"
              type="number"
              formControlName="cityCodeSecondary"
              [placeholder]="userData.phonesList[1]?.cityCode ?? ''"
            />
          </div>
        </label>

        <label>
          <span class="">Número alternativo</span>

          <input
            type="tel"
            formControlName="phoneNumberSecondary"
            autocomplete
            [placeholder]="userData.phonesList[1]?.phoneNumber ?? ''"
          />
        </label>
      </div>
      <div class="indicaciones">
        <span>Código por país</span><span>Código de área</span
        ><span class="tres">Con el que podrás recibir la entrega</span>
      </div>
      <div class="space-buton">
        <button class="button custom__button--fill" type="submit">
          Guardar
        </button>
      </div>
      <p class="campo">*Campo requerido</p>
    </div>
  </form>
</section>
