<div class="contenedor">
<div class="caja1">
    <p class="titulo">Quienes somos</p>
    <p>Descubre <b>DeLatinos</b>: Sabores Auténticos de Latinoamérica en Europa</p>
    <p>Bienvenidos a <b>DeLatinos</b>, tu puerta de entrada a los sabores auténticos de 
        <b>Argentina</b>, <b>Colombia</b>, <b>Venezuela</b> y <b>México</b> en Europa.
    </p>
</div>
<div class="caja2">
    <div class="caja-texto2">
        <p>Somos un apasionado equipo que se ha unido con la misión de acercar 
            los productos más queridos de Latinoamérica a los corazones de 
            aquellos que, lejos de su hogar, anhelan el sabor nostálgico de 
            su tierra natal. Además, queremos extender ese viaje culinario a
            todos aquellos que desean probar y deleitarse con los sabores únicos
            que estos países tienen para ofrecer.</p>
        <p>La idea de <b>DeLatinos</b> nació de un profundo amor por la diversidad 
            culinaria de Latinoamérica y la necesidad de compartir esa pasión
            con el mundo.  Guiados por estos sueños, nos embarcamos en una
            emocionante travesía para llevar una selecta gama de productos
            directamente desde los rincones más auténticos de <b>Argentina</b>,
            <b>Colombia</b>, <b>Venezuela</b> y <b>México</b> a las mesas de nuestros clientes en
         Europa. 
        </p>
    </div>
    <div class="caja-imagen2"><img class="imagen2" src="../../../../assets/images/latinoeuropa.jpg" alt=""></div>
</div>
<div class="caja3">
    <p> Nuestra misión es crear un vínculo más cercano entre aquellos que 
        extrañan la cocina de su tierra y los sabores únicos de Latinoamérica.
         Queremos ser una plataforma que despierte la nostalgia, reconforte el
          corazón y despierte la emoción al revivir esos sabores entrañables que
           nos transportan a nuestros recuerdos más preciados.</p>
    <p>En <b>DeLatinos</b>, seleccionamos cuidadosamente cada producto que ofrecemos
         en nuestra tienda. Trabajamos en estrecha colaboración con productores
          locales de <b>Argentina</b>, <b>Colombia</b>, <b>Venezuela</b> y <b>México</b> para garantizar la 
          calidad y autenticidad de nuestros productos.</p>
    <p> Además, también deseamos fomentar la cultura culinaria latinoamericana 
        entre aquellos que aún no la han experimentado. Invitamos a todos los
         amantes de la gastronomía a embarcarse en un emocionante viaje 
         gastronómico probando nuestras yerbas, galletitas, alfajores, panela,
          salsa chipotle, tequila y muchos otros productos que reflejan la 
          riqueza de nuestros países.</p> 
    <p> En <b>DeLatinos</b>, creemos que la comida no solo es una necesidad básica,
         sino una expresión de identidad, cultura y amor. Nos enorgullecemos 
         de ser el enlace entre nuestros clientes y sus raíces, y también de
          ser la ventana para que otros descubran el inmenso tesoro culinario
           que Latinoamérica tiene para ofrecer. </p>
    <p> Únete a nuestro viaje gastronómico y permite que los sabores de <b>Argentina</b>,
         <b>Colombia</b>, <b>Venezuela</b> y <b>México</b> te transporten a lugares lejanos y te hagan
          sentir más cerca de casa.</p>
</div>
<div class="caja-logo">
    <p>  ¡Bienvenido a DeLatinos!, donde los sabores crean puentes entre naciones
         y corazones!</p>
    <img src="../../../../assets/images/logov2.svg" alt="">
</div>
</div>