/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

$heigth-header: 150px;
$heigth-navbar: 50px;
$max-width: 1400px;
// FONTS
$heading1: 26px;
$heading2: 20px;
$heading3: 16px;
$heading4: 14px;
$heading5: 10px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

button {
  cursor: pointer;
  color:white;
  background-color: #374664;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
