/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

$heigth-header: 150px;
$heigth-navbar: 50px;
$max-width: 1400px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

button {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
