<footer>
  <div class="container">
    <div class="contact__container">
      <h4>CONTACTO</h4>
      <div class="icon">
        <div>
          <a href="https://www.instagram.com/tiendadelatinos/">
            <i class="pi pi-instagram"></i
          ></a>
        </div>
        <div>
          <a
            href="https://api.WhatsApp.com/send?phone=5411111111&amp;text= Bienvenidos, Somos DeLatinos "
            ><i class="pi pi-whatsapp"></i
          ></a>
        </div>
      </div>
      <a href="#"><p>atencionalcliente@delatinos.com</p></a>
    </div>
    <div class="container-div">
      <h4>AYUDA</h4>
      <div class="anchor">
        <a [routerLink]="['/shipping-info']">Envíos</a>
        <a [routerLink]="['/frequent-questions']">Preguntas frecuentes</a>
      </div>
    </div>
    <div class="container-div">
      <h4 class="title">NOSOTROS</h4>
      <div class="anchor">
        <a [routerLink]="['/about-us']">Quienes somos</a>
      </div>
    </div>
    <div class="container-div">
      <h4 class="title">LEGALES</h4>
      <div class="anchor anchor_news">
        <a [routerLink]="['/terms-and-conditions']">Términos y condiciones</a>
        <a [routerLink]="['/legal']">Políticas de privacidad</a>
      </div>
    </div>
    <div class="news">
      <br />
      <span class="p-input-icon-right">
        <i class="pi pi-envelope"></i>
        <input type="text" pInputText placeholder="Newsletter" />
      </span>
    </div>
  </div>
  <div class="container copy_footer">
    <h5>Copyright ® - 2023. Todos los derechos reservados.</h5>
  </div>
</footer>
