<footer>
  <div class="container">
    <div class="contact__container">
      <h4>CONTACTO</h4>
      <div class="icon">
        <div>
          <i class="pi pi-instagram"></i>

        </div>
        <div>
          <i class="pi pi-whatsapp"></i>

        </div>
      </div>
      <p>Número de teléfono</p>
      <p>E-mail</p>
    </div>
    <div class="container-div">
      <h4>AYUDA</h4>
      <div class="anchor">
        <a href="#">Envíos</a>
        <a href="#">Preguntas frecuentes</a>
        <a href="#">Devoluciones</a>
      </div>
    </div>
    <div class="container-div">
      <h4 class="title">NOSOTROS</h4>
      <div class="anchor">
        <a href="#">Quienes somos</a>
        <a href="#">Trabaja con nosotros</a>
      </div>
    </div>
    <div class="container-div">
      <h4 class="title">LEGALES</h4>
      <div class="anchor">
        <a href="#">Términos y condiciones</a>
        <a href="#">Políticas de privacidad</a>
      </div>
    </div>
    <div>
      <br />
      <span class="p-input-icon-right">
        <i class="pi pi-envelope"></i>
        <input type="text" pInputText placeholder="Newsletter" />
      </span>
    </div>

  </div>
  <div class="container">
    <h5>Copyright ® - 2023. Todos los derechos reservados.</h5>
  </div>

</footer>
