<footer>
  <div class="container">
    <div class="contact__container">
      <h4>CONTACTO</h4>
      <div class="icon">
        <div>
          <i class="pi pi-instagram"></i>
        </div>
        <div>
          <i class="pi pi-whatsapp"></i>
        </div>
      </div>
      <a href="#"><p>Número de teléfono</p></a>
      <a href="#"><p>E-mail</p></a>
    </div>
    <div class="container-div">
      <h4>AYUDA</h4>
      <div class="anchor">


        <a [routerLink]="['/shipping-info']">Envíos</a>
        <a href="#">Preguntas frecuentes</a>
      </div>
    </div>
    <div class="container-div">
      <h4 class="title">NOSOTROS</h4>
      <div class="anchor">
        <a href="#">Quienes somos</a>  
      </div>
    </div>
    <div class="container-div">
      <h4 class="title">LEGALES</h4>
      <div class="anchor">
        <a [routerLink]="['/terminos-condiciones']">Términos y condiciones</a>
        <a [routerLink]="['/legales']">Políticas de privacidad</a>
      </div>
    </div>
    <div>
      <br />
      <span class="p-input-icon-right">
        <i class="pi pi-envelope"></i>
        <input type="text" pInputText placeholder="Newsletter" />
      </span>
    </div>

  </div>
  <div class="container">
    <h5>Copyright ® - 2023. Todos los derechos reservados.</h5>
  </div>

</footer>
