@import "src/styles.scss";

footer {
  background-color: #aaa;
  margin: 0;
  padding: 0;
  min-height: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  max-width: $max-width;
  width: 95%;
  margin: 0 auto;
  gap: 3px;

  .contact__container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
}

h4 {
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

p,
a {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.icon {
  display: flex;
  flex-direction: row;
  gap: 6px;
  padding-bottom: 3px;
  margin-top: 3px;

}

.icon div {
  padding: 0.2rem 0.3rem;
  background-color: #fff;
  border-radius: 2px;
  width: 24px;
  height: 24px;
}
.icono{
  margin: 2px 0.5px 0px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.anchor {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a:link {
  text-decoration: none;
  color: #202020;
}

a:visited {
  color: #202020;
}

.title {
  padding-bottom: 10px;
}

input {
  width: 137px;
  height: 25px;
  background-color: #d2d2d2;
  text-align: center;
  //styleName: Heading 5 - detalles menores;
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
}
h5{
  font-size: 10px;
  color: #fff;
  align-items: center;
}