<div class="card" *ngIf="product">
  <div class="imagen-text" [routerLink]="'producto/' + product.id">
    <img
      src="https://images.pexels.com/photos/3680219/pexels-photo-3680219.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt=""
      [style]="'view-transition-name:' + product.id"
    />
  </div>
  <div class="contenido">
    <div class="text__products" [routerLink]="'producto/' + product.id">
      <h3>{{ product.title }}</h3>
      <p class="description">
        {{ product.description }}
      </p>
    </div>
    <div class="text">
      <p>€{{ product.price }}</p>
      <p class="p-small">{{ product.weight }}</p>
      <span class="chip">{{ product.stock | uppercase }}</span>
    </div>
    <app-input-cart [product]="product"></app-input-cart>
  </div>
</div>
