.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 336px;
  border: 1px solid #000;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
}

.imagen-text {
  width: 100%;
  height: 162px;
}

.card .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.class-add {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

p {
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
}

.p-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #717171;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
  color: #717171;
  width: 63.38px;
  height: 24px;
  border-radius: 3px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenido {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.description {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
}

.select-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  height: 39.95;
}

.down {
  height: 10px;
  width: 24px;
  margin: 0;
  padding: 0;
  border: 0px;
  background-color: transparent;
}

.down img {
  height: 10px;
  width: 16px;
}

input {
  width: 37px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid #000;
  text-align: right;
}

.btn {
  width: 137.86px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid #000;
  font-family: inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
}
