<div class="card" *ngIf="product">
  <div class="imagen-text" [routerLink]="'product/' + product.id">
    <img [src]="product.image" alt="" />
  </div>
  <div class="contenido">
    <div class="text__products" [routerLink]="'product/' + product.id">
      <h3>{{ product.title }}</h3>
      <p class="description">
        {{ product.description }}
      </p>
    </div>
    <div class="text">
      <p>€{{ product.price }}</p>
      <p class="p-small">{{ product.weight }}</p>
      <span class="chip">{{ product.stock }}</span>
    </div>
    <app-input-cart
      [product]="product"
      [showInput]="showInput"
      [changeWidth]="changeWidth"
    ></app-input-cart>
  </div>
</div>
