.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 336px;
  border: 1px solid red;
  padding: 22px;
  border-radius: 7px;
}

.imagen-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  gap: 10px;
}

.icon {
  width: 10px;
  height: 10px;
}

.card .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.class-add {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
p {
  font-family: inter;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
}

.p-small {
  font-family: inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #717171;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  font-family: inter;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
  color: #717171;
  width: 63.38px;
  height: 24px;
  border-radius: 3px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  font-family: inter;
  line-height: 16.94px;
}

.class-add input {
  width: 20px;
}

img {
  width: 198px;
  height: 134px;
  border-radius: 7px;
}
.select-down {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.down {
  height: 14px;
  width: 14px;
  margin: 0;
  padding: 0;
  border: 0px;
  background-color: transparent;
}

input {
  width: 33.27px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid #000;
  text-align: right;
}

.btn {
  width: 137.86px;
  height: 39.95px;
  border-radius: 7px;
  border: 1px solid #000;
  font-family: inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
}
