<div class="card" *ngIf="product">
  <i class="pi pi-heart"></i>
  <div class="imagen-text" [routerLink]="'product/' + product.id">
    <img [src]="product.image" alt="" />
  </div>
  <div class="contenido">
    <div class="text__products" [routerLink]="'product/' + product.id">
      <h3 class="title">{{ product.name }}</h3>
      <p class="description">
        {{ product.category.name }}
      </p>
    </div>
    <div class="text">
      <img
        class="flag"
        [src]="product.country | imageByCountry"
        [alt]="product.name"
        width="30"
        height="30"
        [title]="'Producto de ' + product.country"
      />
      <p>€{{ product.price }}</p>
      <p class="p-small">{{ product.weight }}gr</p>
      <span class="chip">{{ product.stock | stock }}</span>
    </div>
    <app-input-cart
      [product]="product"
      [showInput]="showInput"
      [changeWidth]="changeWidth"
    ></app-input-cart>
  </div>
</div>
